body, ul, li, h1, h2, a {
  margin: 0;
  padding: 0;
  font-family: arial;
}
header {
  background-color: #f63232;
  padding: 20px;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
header h1 {
  color: white;
  border: 8px solid white;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
}
.banner {
  position: relative;
}
.banner img {
  max-width: 100%;
}
.banner .welcome {
  background-color: #feb614;
  padding: 25px;
  position: absolute;
  color: white;
  left: 0;
  top: 30%;
}
.banner h2 {
  font-size: 74px;
}
.banner h2 span {
  font-size: 1.2em;
}
nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 104px;
}
nav ul {
  white-space: nowrap;
  margin: 0 auto;
  max-width: 1200px;
}
nav li {
  display: inline-block;
  width: 25%;
  font-size: 24px;
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: #4b4b4b;
}
nav li a.join {
  color: #f63232;
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
main li {
  list-style-type: none;
}
article h2 {
  color: #f63232;
  font-size: 48px;
}
article p {
  line-height: 1.5em;
  color: #4b4b4b;
}
.images {
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}
.images li {
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
}
.images li img {
  max-width: 100%;
}
section.join {
  background-color: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #4b4b4b;
}
section.join h2 {
  font-size: 36px;
}
form input {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px dashed grey;
}
footer {
  text-align: center;
  background-color: #f63232;
  color: white;
  padding: 10px;
}
nav li a:hover {
  text-decoration: underline;
}
.images li:hover {
  position: relative;
  top: -4px;
}
form input:focus {
  border: 4px solid blue;
}
form input:valid {
  border: 4px solid green;
}
/* form input:invalid {
  border: 4px solid red;
} */
article p::first-letter {
  font-weight: bold;
  font-size: 1.7em;
}
@media screen and (max-width: 1024px) {
  .banner .welcome  h2 {
    font-size:60px;
  }
  nav li {
    font-size:18px;
  }
}
@media screen and (max-width: 900px) {
  .banner .welcome  h2 {
    font-size:45px;
  }
}
@media screen and (max-width: 760px) {
  .banner .welcome {
    position: relative;
    text-align: center;
    padding: 10px;
  }
  .banner .welcome br {
    display: none;
  }
  .banner .welcome h2 {
    font-size: 30px;
  }
  .banner .welcome span {
    font-size: 1em;
  }
  .images li {
    width: 100%;
    margin: 20px auto;
    display: block;
  }
  header{
    position:relative;
  }
  nav{
    top:0;
  }
}
@media screen and (max-width:520px) {
  nav li {
    display: block;
    margin: 10px auto;
    width: 100%;
    font-size: 24px;
  }
}